body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

button {
    background: green;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}